@model PagedList.IPagedList<DoAnLTWEB.Models.KhoaHoc>

@{
    ViewBag.Title = "AdminCourse";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Thêm thư viện jQuery Toast Plugin -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"></script>


<div style="position:relative;top:35px">
    <h2>Quản lý khóa học</h2>

    <div>
        <a href="@Url.Action("CreateCourse")" class="btn btn-primary">Thêm khóa học mới</a>
        <a href="@Url.Action("RecoverCourse")" class="btn btn-primary">Khóa học đã xóa</a>
    </div>    
    </br>
    <table class="table">
        <tr>
            <th>
                Tên Khóa học
            </th>
            <th>
                Tùy chọn
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenKH)
                </td>
                <td>
                    <a href="@Url.Action("EditCourse", new { MaKH = item.MaKH })" class="btn btn-primary">Sửa</a>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal-@item.MaKH" data-makh="@item.MaKH" data-tenkh="@item.TenKH">
                        Xóa
                    </button>                    
                    <a href="@Url.Action("Lesson", "Lesson", new { MaKH = item.MaKH})" class="btn btn-primary">Chi tiết bài giảng</a>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal-@item.MaKH" tabindex="-1" aria-labelledby="exampleModalLabel-@item.MaKH" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel-@item.MaKH">Xác nhận xóa</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Bạn có chắc muốn xóa khóa học: <b><span id="modalTenKH-@item.MaKH">@item.TenKH</span></b></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                    <button type="button" class="btn btn-danger" onclick="deleteKhoaHoc('@item.MaKH')">
                                        Xóa
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
        }
    </table>
    <!--Phân trang-->
    <div>
        @if (Model.PageCount > 1)
        {
            <ul class="pagination justify-content-center">
                @if (Model.PageNumber > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("AdminCourse", new { page = 1 })"><i class="bi bi-chevron-double-left"></i></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("AdminCourse", new { page = Model.PageNumber - 1 })"><i class="bi bi-chevron-left"></i></a>
                    </li>
                }

                @for (int i = Math.Max(1, Model.PageNumber - 2); i <= Math.Min(Model.PageCount, Model.PageNumber + 2); i++)
                {
                    <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                        <a class="page-link" href="@Url.Action("AdminCourse", new { page = i })">@i</a>
                    </li>
                }

                @if (Model.PageNumber < Model.PageCount)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("AdminCourse", new { page = Model.PageNumber + 1 })"><i class="bi bi-chevron-right"></i></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("AdminCourse", new { page = Model.PageCount })"><i class="bi bi-chevron-double-right"></i></a>
                    </li>
                }
            </ul>
        }
    </div>

</div>

<script>
    $('[data-bs-target^="#exampleModal"]').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var MAKH = button.data('makh');
        var TenKH = button.data('tenkh');
        var modal = $(this);
        modal.find('#modalTenKH-' + MAKH).text(TenKH);
    });

    function deleteKhoaHoc(MaKH) {
        // Gửi request xóa khóa học tới controller
        $.ajax({
            url: '@Url.Action("DeleteCourse", "Admin")',
            type: 'POST',
            data: { MaKH: MaKH },
            success: function () {
                $.toast({
                    heading: 'Success',
                    text: 'Xóa thành công',
                    showHideTransition: 'fade',
                    position: 'top-right',
                    icon: 'success',
                    hideAfter: 1500,
                    afterHidden: function () {
                        window.location.reload();
                    }
                });
            },
            error: function () {
                $.toast({
                    heading: 'Failed',
                    text: 'Xóa thất bại',                    
                    position: 'top-right',
                    icon: 'error',
                    hideAfter: 1500,
                    afterHidden: function () {
                        window.location.reload();
                    }
                });
            }
        });

        $('#exampleModal-' + MaKH).modal('hide');
    }

</script>
